@keyframes loading-bar {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-loading-bar {
  animation: loading-bar 1.5s infinite linear;
}

.controls-visible {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.controls-hidden {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

:root {
  --duration: 3s;
  --text-color: #ef4444;
}

.shine {
  color: var(--text-color);
  background: linear-gradient(90deg, rgba(239,68,68,1) 13%, rgba(241,91,91,1) 23.5%, rgba(255,255,255,1) 25%, rgba(255,205,205,1) 85%, rgba(239,68,68,1) 100%);

  background-size: 150%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  animation: shine var(--duration) 1;
  -webkit-animation: shine var(--duration) 1;
  line-height: 1.1;
}

@keyframes shine {
  0% {
    background-position: 300% 0;
  }
  100% {
    background-position: -300% 0;
  }
}

@-webkit-keyframes shine {
  0% {
    background-position: 300% 0;
  }
  100% {
    background-position: -300% 0;
  }
}